[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
aiosqlite = "*"
greenlet = "*"
asyncpg = "*"
fastapi = "*"
uvicorn = "*"
httpx = "*"
pydantic = {extras = ["dotenv"], version = "*"}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
isort = "*"
black = "*"
mypy = "*"
flake8 = "*"
faker = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
